<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="V@ldoR__Che">

    <title>Hello Valchat!</title>
    <%= if !@conn.assigns.user do %>
      <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <% end %>

    <%= if @conn.assigns.user do %>
      <link rel="stylesheet" href="<%= static_path(@conn, "/css/components.css") %>">
    <% end %>


    <%= if @conn.assigns.user do %>
      <script>
         window.userToken = "<%= Phoenix.Token.sign(Valchat.Endpoint, "key", @conn.assigns.user.id) %>"
      </script>
    <% end %>

  </head>

  <body>
      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>
 <!-- /container -->
  </body>
</html>
